html {
  font-size: 30px;
  position: relative;
  min-height: 100%;
  background-color: rgb(255, 255, 255);
}

:root{
  --primary: #0a80fd;
  --sps-cyan: #1291a5;
}

nav{
  display: flex; 
  background-color: rgb(157, 255, 0);
}

.container-fluid{
  flex-shrink: 1;
  flex-direction: column;
  background-color: var(--primary);
  padding: 1rem;
}

form{
  margin-left: 0.5rem;
}
.navbar-toggler{
  position: absolute;
  top: 45px;
  right: 20px;
}

.navbar-light .navbar-brand{
  text-align: center;
  margin-right: 0;
  font-weight: bold;
  color: rgb(128, 127, 127);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}