@using EvidenceProject.Controllers.ActionData
@{
    ViewData["Title"] = "Přihlášení";
    ViewData["Page"] = "login";
    ViewData["Script"] = "user.js";
}
@model LoginData

<form action="/users/login" method="post">
    <label for="username">Uživatelské jméno:</label>
    <input type="text" name="username" value="@Model.Username" required>
    <label for="password">Heslo:</label>
    <input type="password" name="password" value="@Model.Password" required>
    <input type="submit" value="Přihlásit se">
    <p style="color: red">@Model.Response</p>
    <br />
    <a asp-controller="User" asp-action="Register" class="odkaz">Registrovat se</a>
</form>