@{
    ViewData["Title"] = "Login";
    ViewData["Page"] = "login";
}

<form action="/users/login" method="post">
    <input type="text" name="username" placeholder="Jméno...">
    <input type="password" name="password" placeholder="Heslo...">
    <input class="myLogin" type="submit" value="login">
    <button onclick="menitHeslo()">Zmìna hesla</button>
</form>
