@{
    ViewData["Title"] = "Login";
    ViewData["Page"] = "login";
}

<form action="/users/login" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username">
    <label for="password">Heslo:</label>
    <input type="password" name="password">
    <input type="submit" value="Login"> 
    <button onclick="menitHeslo()">Změna hesla</button>
</form>

<a asp-controller="User" asp-action="Register" class="odkaz">Registrovat se</a>
