@using EvidenceProject.Controllers.ActionData
@{
    ViewData["Title"] = "Změna hesla";
    ViewData["Page"] = "login";
}
@model LoginDataUpdate

<form action="/users/password/update" method="post">
    <label for="password">Nové heslo:</label>
    <input type="password" name="new_password" required>
    <label for="password">Nové heslo znovu:</label>
    <input type="password" name="new_password_again" required>
    <input type="submit" value="Změnit heslo">
</form>
<p style="color: red">@Model.Response</p>

<a asp-controller="User" asp-action="Register" class="odkaz">Registrovat se</a>
<button onclick="zmenitHeslo()">Změna hesla</button>