@using EvidenceProject.Controllers.ActionData
@{
    ViewData["Title"] = "Registrace";
    ViewData["Page"] = "register";
    ViewData["Script"] =new[]{ "user.js"};
}

@model RegisterData

<form action="/users/register" method="post">
    @await Html.PartialAsync("../Shared/RegisterInputsPV", model: Model)
</form>