@using EvidenceProject.Controllers.ActionData
@{
    ViewData["Title"] = "Register";
    ViewData["Page"] = "register";
}

@model RegisterData

<form action="/users/register" method="post">
    @await Html.PartialAsync("../Shared/RegisterInputsPV", model: Model)
</form>