@using EvidenceProject.Controllers.ActionData
@{
    ViewData["Title"] = "Register";
}

@model CustomMessageResponse

<form action="/users/register" method="post">
    <label for="username">Username:</label>
    <input type="text" name="username">
    <label for="password">Heslo:</label>
    <input type="password" name="password">
    <input type="submit" value="Register">
</form>
<p  style="color: red">@Model.Response</p>