@{
    ViewData["Title"] = "Register";
}

<form action="/users/register" method="post">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="submit" value="login"> 
</form>