@using EvidenceProject.Controllers.ActionData
@{
    ViewData["Title"] = "Register";
    ViewData["Page"] = "register";
}

@model CustomMessageResponse

<form action="/users/register" method="post">
    <label for="firstname">Jméno:</label>
    <input type="text" name="firstname" required>
    <label for="lastname">Pøíjmení:</label>
    <input type="text" name="lastname" required>
    <label for="contact">Kontakt(email, github,..):</label>
    <input type="text" name="contact" >
    <label for="schoolYear">Roèník a obor</label>
    @await Html.PartialAsync("../Shared/DatalistsPV")
    <label for="username">Uživatelské jméno:</label>
    <input type="text" name="username" required>
    <label for="password">Heslo:</label>
    <input type="password" name="password" required>
    <input type="submit" value="Registrovat se">

    
</form>
<p  style="color: red">@Model.Response</p>