@using System.Drawing
@model List<Project>
@{
    ViewData["Title"] = "Home Page";
    ViewData["Page"] = "home page";
}

@if (Model == null) return;

@foreach (var project in Model)
{
    <p><b>@project.name</b></p>
    <p>Popis: @project.projectDescription</p>
    <p>technologie:
    @foreach (var item in project?.projectTechnology)
        {
            <span style="color:@item.color.Value.Name">@item.name</span>
        }
    </p>
    <a href="/project/@project.id">Detail</a>
}
