@model List<Project>
@{
    ViewData["Title"] = "Home Page";
    ViewData["Page"] = "home page";
}

@if (Model != null)
{
    @foreach (var project in Model)
    {
        <p>
            <b>@project.name</b>
        </p>
        <l>fotka</l>
        <p>Stav: @project.projectState</p>
        <a href="/project/@project.id">Detail</a>
    }
}