@model List<Project>
@{
    ViewData["Title"] = "Home Page";
    ViewData["Page"] = "home page";
}

@if (Model == null) return;

<div class="projects">

@foreach (var project in Model)
{
    <div class="project"> 
        <p><b>@project.name</b></p>
        <p>Popis: @project.projectDescription</p>
        <p>technologie:
        @foreach (var item in project?.projectTechnology)
            {   
                <span style="color:@UniversalHelper.GetHtmlColor(item.color)">@item.name</span>
            }
        </p>

        @{
            List<Achievement> achievements = project.projectAchievements?.ToList();
        }
        <p>Stav: @project?.projectState?.name</p>
        <p>Typ: @project?.projectType?.name</p>
            @if (achievements.Count > 0)
            {
                <p>Úspěchy: @UniversalHelper.GetAchievements(achievements)</p>
            }
        @if (!project.github.IsNull()){ <p>Github: @project?.github</p>}
        @if (!project.slack.IsNull()){<p>Slack: @project?.slack</p>}
        <a href="/project/@project.id">Detail</a>
    </div>
}

</div>