<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    <header>
        <h1>Evidence</h1>
        <a asp-area="" asp-controller="Admin" asp-action="Login" class="odkaz">Login</a>
    </header>
    <div>
        <div>
            <label for="search">Vyhledat:</label>
            <input id="search" type="search" placeholder="..." />
        </div>
        <nav>
            <div>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="odkaz">Domů</a>
            </div>
            <div>
                <a asp-area="" asp-controller="Project" asp-action="Create" class="odkaz">Vytvořit projekt</a>
            </div>
        </nav>
        <div>
            <footer>&copy; 2022 4.EP</footer>
        </div>
    </div>
    <main>
        <div id="@ViewData["Page"]">
            @RenderBody()
        </div>
    </main>
</body>
</html>
