<!DOCTYPE html>
<html lang="cs" style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body style="display:grid;grid-template-columns: 250px 1fr;
    grid-template-rows: min-content;margin: 0;height: 100%;">
    <header style="display: flex;align-items:baseline;grid-column: 1 / 4;padding:1em;">
        <h1 style="width:fit-content">Evidence</h1>
        <a style="margin-left: auto;" asp-area="" asp-controller="Admin" asp-action="Login" class="odkaz">Login</a>
    </header>
    <div style="display: flex;flex-direction: column;padding:1em;">
        <div style="margin-bottom:1em;">
            <label for="search">Vyhledat:</label>
            <input id="search" type="search" placeholder="..." />
        </div>
        <nav>
            <div>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="odkaz">Domů</a>
            </div>
            <div>
                <a asp-area="" asp-controller="Project" asp-action="Create" class="odkaz">Vytvořit projekt</a>
            </div>
        </nav>
        <div style="margin-top: auto;">
            <footer>&copy; 2022 4.EP</footer>
        </div>
    </div>
    <main style="overflow:auto;padding:1em;">
        <div id="@ViewData["Page"]">
            @RenderBody()
        </div>
    </main>
</body>
</html>
