<select id="obory" name="studyField">
    <option id="EPS" value="EPS">EPS</option>
    <option id="IT" value="IT">IT</option>
    <option id="ST" value="ST">ST</option>
    <option id="S" value="S">S</option>
    <option id="jine" value="jine">Jiné</option>
</select>
<select id="rocniky" name="schoolYear">
    <option id="1" value="1">1</option>
    <option id="2" value="2">2</option>
    <option id="3" value="3">3</option>
    <option id="4" value="4">4</option>
    <option id="5" value="5">Absolvent</option>
</select>