<div class="projectCreateItem">
<h2>Přidání kategorie</h2>
  <form method="POST" action="/dialinfo/add">
      <label for="name">Název kategorie:</label>
      <input name="name" type="text" placeholder="..." id="name" />
      <label for="description">Popis:</label>
      <input name="description" type="text" placeholder="..." id="description" />
      <input  type="submit" placeholder="Přidat kategorii"/>
  </form>
</div>
