@model List<EvidenceProject.Data.DataModels.DialInfo>
<form method="POST" action="/dialinfo/add">
    <label for="name">Name:</label>
    <input name="name" type="text" placeholder="..." id="name" />
    <label for="description">Description:</label>
    <input name="description" type="text" placeholder="..." id="description" />
    <input  type="submit" placeholder="Přidat kategorii"/>
</form>