@model List<EvidenceProject.Data.DataModels.DialInfo>


<h3>Přidání položky do kategorie</h3>
<form method="POST" action="/dialcode/add">
    <label for="name">Název:</label>
    <input name="name" type="text" placeholder="..." id="name" />
    <label for="description">Popis:</label>
    <input name="description" type="text" placeholder="..." id="description" />
    <label>Barva</label>
    <input type="color" name="color" />
    <label>Kategorie</label>
    <input name="dialInfoName" list="stavy" />
    <datalist id="stavy">
        @{
            foreach (var dialInfo in Model)
            {
                <option value="@dialInfo.name">@dialInfo.name</option>
            }
        }
        </datalist>
    <input type="submit" value="Přidat do kategorie" />
    </form>