@{

    ViewData["Title"] = "Admin Profil";

}

<form action="/admin/addUser" method="post">
    <label for="username">Heslo:</label>
    <input type="text" name="username" id="username" placeholder="...">
    <label for="password">Heslo:</label>
    <input type="text" name="password" id="password" placeholder="...">
    <input type="button" onclick=""/>
    <input type="submit" value="login">
</form>
