@{

    ViewData["Title"] = "Admin login";

}

<form action="/admin/login" method="post">
    <label for="password">Heslo:</label>
    <input type="password" name="password" id="password" placeholder="...">
    <input type="submit" value="login"> 
</form>