@{
    ViewData["Title"] = "Admin login";

}

<form action="/admin/login" method="post">
    <label for="password">Heslo:</label>
    <input type="password" name="password" id="password" placeholder="...">
    <input class="myLogin" type="submit" value="login">
</form>