@{
    ViewData["Title"] = "Create Project";
}

<form action="/project/create" method="post">
    <label for="name">Název projektu: </label>
    <input name="projectName" type="text" placeholder="..." id="name"/>
    <label for="state">Stav: </label>
    <input name="projectState" list="stavy" id="state"/>
    <label for="type">Typ: </label>
    <input name="projectType" type="text" placeholder="..." id="type"/>
    <label for="technology">Technologie: </label>
    <input name="technology" type="text" placeholder="..." id="technology"/>
    <label for="photo">Fotografie: </label>
    <input name="photos" type="file" multiple="multiple" id="photo"/>
    <label for="achievments">Úspěchy: </label>
    <input name="achievements" type="text" id="achievements" />
    <input type="submit"/> 


    <datalist id="stavy">
        <option>Nápad</option>
        <option>Aktivní</option>    
        <option>Opuštěný</option>
        <option>Dokončený</option>
    </datalist>
</form>
