@using EvidenceProject.Controllers.ActionData
@{
    ViewData["Title"] = "Create Project";
    ViewData["Page"] = "create";
}
@model GETProjectCreate
<form action="/project/create" method="post">
    <label for="name">Název projektu: </label>
    <input name="name" type="text" placeholder="..." id="name"/>
    <label for="assignees">Lidi: </label>
    <input name="assignees" type="text" placeholder="..." id="assignees" />
    <label for="state">Stav: </label>
    <input name="projectState" list="stavy" id="state" />
    <label for="type">Typ: </label>
    <input name="projectType" type="text" placeholder="..." id="type" />
    <label for="technology">Technologie: </label>
    <input name="projectTechnology" type="text" placeholder="..." id="technology" />
    <label for="photo">Fotografie: </label>
    <input name="files" type="file" multiple="multiple" id="photo"/>
    <a id="nazvy"></a>
    <label for="achievments">Úspěchy: </label>
    <input name="projectAchievements" type="text" id="achievements" />
    <label for="slack">Slack: </label>
    <input name="slack" type="text" id="slack" />
    <label for="github">Github: </label>
    <input name="github" type="text" id="github" />
    <input type="submit"/>
    <datalist id="stavy">
        @{
            foreach(var dialInfo in Model.DialInfos){
                   <option id="@dialInfo.name">@dialInfo.name</option>
            }
        }
    </datalist>

    <datalist id="dialCodes">
        @{
            foreach (var dialcode in Model.DialCodes)
            {
                <option class="@dialcode.dialInfo.name">@dialcode.name</option>
            }
        }
    </datalist>

</form>

@await Html.PartialAsync("../Shared/DialCodesPV", Model.DialInfos)
@await Html.PartialAsync("../Shared/DialInfosPV", Model.DialInfos)


