@{
    ViewData["Title"] = "Project Details";
}
@model EvidenceProject.Data.DataModels.Project

<p>Projevit zájem</p>
<form method="post" action="/project/apply">
    <input type="submit" value="Mám zájem" />
</form>
