@{
    ViewData["Title"] = "Project Details";
}
@model EvidenceProject.Data.DataModels.Project

<p>Projevit zájem</p>
<form method="post" action="/project/apply">
    <input type="text" name="firstname" placeholder="Jméno..." />
    <input type="text" name="lastname" placeholder="Příjmení..." />
    <input type="text" name="class" placeholder="Třída..." />
    <input type="text" name="email" placeholder="Email..." />
    <input type="submit" value="Mám zájem" />
</form>
