@{
    ViewData["Title"] = "Project Details";
}
@model Project

<a asp-area="" asp-controller="Home" asp-action="Index">Zpátky</a>
@if (Model == null) return;

<p><b>@Model.name?</b></p>
@if (Model.projectTechnology != null){
    @foreach (var item in Model?.projectTechnology)
    {
        <span style="color:@UniversalHelper.GetHtmlColor(item.color)">@item.name</span>
    }
}
<p>Stav: @Model?.projectState?.name</p>
<p>Úspěchy: @UniversalHelper.GetAchievements(Model.projectAchievements?.ToList())</p>
<p>Github: @Model?.github</p>
<p>Slack: @Model?.slack</p>
<p>Typ: @Model?.projectType?.name</p>
<p>Zapojení lidé: </p>
@if(Model.assignees != null){
    @foreach (var assignee in Model.assignees?.ToList())
    {
        <p> @assignee.fullName</p>
    }           
}

<p>Obrázky</p>

@foreach(var item in Model.files)
{
    //var memoryStreamBytes = item.ReadFile().ToArray();
    //var output = Convert.ToBase64String(memoryStreamBytes);
    <!--TODO-->
}    



<p>Projevit zájem</p>
<form method="post" action="/project/apply/@Model.id">
    <input type="text" name="firstname" placeholder="Jméno..." required />
    <input type="text" name="lastname" placeholder="Příjmení..." required />
    @await Html.PartialAsync("../Shared/DatalistsPV", model: null)
    <input type="text" name="contact" placeholder="Kontakt..." required />
    <input type="submit" value="Mám zájem"/>
</form>